*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.contain{
  width: 100%;
  min-width: 100%;
  padding: 100px 100px;
}
.pokemon_cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: aqua;
  width: 350px;
  
  border-radius: 25px;
}
.prevBlock{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3,1fr);
  gap: 20px;
  grid-area:;
}